.mainPageStyle {
  font-style: italic;
  background-color: #000000;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  /* height: 1000px; */
}
