.mainPageStyle {
  font-style: italic;
  background-color: #000000;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.horizontal-container {
  display: flex;
  justify-content: space-around;
}

.header-timer {
  margin-bottom: 30px;
}

.ScoreBoardCenter {
  text-align: center;
  color: #333;
}
