.timer-centered {
  font-size: 100px;
  /* width: 120px; */
  /* height: 10vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button-style {
  size: small;
  font-size: 40px;
}

.btn-group button {
  background-color: #4caf50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 50%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}

.button {
  background-color: #141414;
  color: white;
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 12px;
  width: 22px;
  height: 22px;
  border-radius: 2px;
  border: 2px solid #1243af;
}
